*{
    margin: 0;
    padding:0;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.one{
    width: 25%;
    height:100%;
    background-color: rgba(255, 0, 0, 0.374);
    display: flex;
    justify-content: center;
    align-items: center;
}
.two{
    width: 25%;
    height:100%;
    background-color: rgb(229, 255, 0);
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.three{
    width: 25%;
    height:100%;
    background-color: rgb(0, 30, 255);
    display: flex;
}
.four{
    width: 25%;
    height:100%;
    background-color: rgb(51, 255, 0);
    display: flex;
}
.card{
    width: 90%;
    height:90%;
    background-image: linear-gradient(to left, rgb(255, 0, 0), grey);
    margin: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.circle{
    width: 20%;
    height:8%;
    background-color: rgb(238, 255, 0);
    border-radius: 50px;
    margin: 20px;
}
.neg{
    width:90% ;
    height: 20%;
    background-image: linear-gradient(to left, yellow, cyan);
    margin: 35px;
}
.hoyor{
    width:90% ;
    height: 20%;
    background-image: linear-gradient(to left, yellow, cyan);
    margin: 35px;
}

.gurav{
    width:90% ;
    height: 20%;
    background-image: linear-gradient(to left, yellow, cyan);
    margin: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.duruv{
    width:90% ;
    height: 20%;
    background-image: linear-gradient(to left, yellow, cyan);
    margin: 35px;
}
.bumbug{
    width: 20%;
    height:45%;
    background-color: rgb(255, 0, 0);
    border-radius: 50px;
    justify-content: flex;
    align-items: center;
}
.kart{
    width: 90%;
    height:92%;
    margin: 35px;
    justify-content: flex-end;
    align-items: flex-end; 
    
}
.top{
    width:100%;
    height: 40%;
    background-color: rgb(0, 13, 255);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: linear-gradient(to left, rgb(0, 13, 255), grey);
}
.middle{
    width: 100%;
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom{
    width: 100%;
    height: 40%;
}
.ball{
    width: 18%;
    height:20%;
    background-color: rgb(13, 255, 0);
    border-radius: 50px;
    margin: 40px;
}
.first{
    width:25%;
    height:30%;
    background-color:rgb(0, 17, 255);
    justify-content: center;
    background-image: linear-gradient(to left, rgb(0, 13, 255), grey);
}
.second{
    width:25%;
    height:30%;
    background-color:rgb(0, 13, 255);
    margin:50px;
    background-image: linear-gradient(to left, rgb(0, 13, 255), grey);
}
.no3{
    width:25%;
    height:30%;
    background-color:rgb(0, 26, 255);
    background-image: linear-gradient(to left, rgb(0, 13, 255), grey);
}
.neeg{
    width: 100%;
    height: 50%;
    display: flex;
}
.hoyyr{
    width: 100%;
    height: 50%;
    display: flex;
}
.negg{
    width: 50%;
    height: 90%;
    background-color: rgb(255, 0, 0);
    margin: 5px;
    background-image: linear-gradient(to left, rgb(0, 13, 255), grey);
}
.hoyrr{
    width: 50%;
    height: 90%;
    background-color: rgb(255, 0, 0);
    margin: 5px;
    background-image: linear-gradient(to left, rgb(0, 13, 255), grey);
}
.nega{
    width: 50%;
    height: 90%;
    background-color: rgb(255, 0, 0);
    margin: 5px;
    background-image: linear-gradient(to left, rgb(0, 13, 255), grey);
}
.hoyro{
    width: 50%;
    height: 90%;
    background-color: rgb(255, 0, 0);
    margin: 5px;
    background-image: linear-gradient(to left, rgb(0, 13, 255), grey);
}
.cartt{
    width: 90%;
    height:92%;
    margin: 35px;
    justify-content: flex-end;
    align-items: flex-end;  
}
.deed{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dood{
    width: 100%;
    height: 80%;
    display: flex;
}
.huvaagd{
    width: 50%;
    height:100%;
}
.huvaagdalishu{
    width: 50%;
    height:100%;
}
.kaart{
    width: 90%;
    height: 50%;
    background-color: grey;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, grey, rgb(0, 0, 0));
}
.negii{
    width: 90%;
    height: 35%;
    background-color: grey;
    margin: 20px;
    background-image: linear-gradient(to left, grey, rgb(0, 0, 0));
}
.hoyrii{
    width: 90%;
    height: 35%;
    background-color: grey;
    margin: 20px;
    background-image: linear-gradient(to left, grey, rgb(0, 0, 0));
}
.guravii{
    width: 90%;
    height: 15%;
    background-color: grey;
    margin: 20px;
    background-image: linear-gradient(to left, grey, rgb(0, 0, 0));
}
.negt{
    width: 90%;
    height: 15%;
    background-color: grey;
    margin: 20px;
    background-image: linear-gradient(to left, grey, rgb(0, 0, 0));
}
.hoyrt{
    width: 90%;
    height: 35%;
    background-color: grey;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, grey, rgb(0, 0, 0));
}
.guravt{
    width: 90%;
    height: 35%;
    background-color: grey;
    margin: 20px;
    background-image: linear-gradient(to left, grey, rgb(0, 0, 0));
}
.buurinhii{
    width: 50%;
    height: 35%;
    background-color: yellow;
    border-radius: 50px;
}